{%extends "testt/base.html"%}
{% block body%}
<p>this is the frontend</p>
{% endblock %}
{%block link%}

<a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">login</a>

  <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title " id="exampleModalLabel">Login</h5>
          <!-- <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"></button> -->
        </div>
            <form action="{% url 'login' %}" method="post">
                <div class="modal-body">
                {% csrf_token %}
                {{form.as_p}}
                </div>
            
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
      </div>
    </div>
  </div>
{% endblock %}

